<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current == 'edit' %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/user/edit') }}">Information Edit</a>
                </li>
                <li {% if current == 'reset-pwd' %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/user/reset-pwd') }}">Reset Password</a>
                </li>
            </ul>
        </div>
    </div>
</div>