{% extends "common/layout_main.html" %}
{% block content %}
    {% include "common/tab_product.html" %}
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline wrap_search">
                <div class="row  m-t p-w-m">
                    <div class="form-group">
                        <select name="status" class="form-control inline">
                            <option value="-1">Please choose an option</option>
                            {% for key in status_mapping %}
                                <option value="{{ key }}" {% if key == search_con['status'] %}
                                        selected {% endif %}>{{ status_mapping[key] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-w-m btn-outline btn-primary pull-right"
                           href="{{ buildUrl('/product/cat-set') }}">
                            <i class="fa fa-plus"></i>Category
                        </a>
                    </div>
                </div>

            </form>
            <table class="table table-bordered m-t">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th>Weight</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% if list %}
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.status_desc }}</td>
                            <td>{{ item.weight }}</td>
                            <td>
                                {% if item.status == 1 %}
                                    <a class="m-l" href="{{ buildUrl('/product/cat-set') }}?id={{ item.id }}">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                    <a class="m-l remove" href="javascript:void(0);" data="{{ item.id }}">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                {% else %}

                                    <a class="m-l recovery" href="javascript:void(0);" data="{{ item.id }}">
                                        <i class="fa fa-rotate-left fa-lg"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl("/js/product/cat.js") }}"></script>
{% endblock %}