{% extends "common/layout_main.html" %}
{% block content %}
    {% include "common/tab_finance.html" %}
    <div class="row">
        <div class="col-lg-12 m-t">
            <p>总收款金额：5.35元</p>
        </div>
        <div class="col-lg-12">
            <table class="table table-bordered m-t">
                <thead>
                <tr>
                    <th>订单编号</th>
                    <th>价格</th>
                    <th>支付时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20180224387</td>
                    <td>0.05</td>
                    <td>2018-02-24 12:37</td>
                </tr>
                </tbody>
            </table>
            {% include "common/pagenation.html" %}
        </div>
    </div>
{% endblock %}
