{% extends "common/layout_main.html" %}
{% block content %}
<div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Each Day</span>
                            <h5>Incoming</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">1005.00</h1>
                            <small>Near 30 days：31177.00</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Each Day</span>
                            <h5>Orders</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">988</h1>
                            <small>Near 30 days：29383</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Each Day</span>
                            <h5>Members</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">358</h1>
                            <small>Today Increment：77</small>
                            <small>Near 30 days Increment：2454</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}