{% extends "common/layout_main.html" %}
{% block content %}
    {% include "common/tab_account.html" %}
    <div class="row m-t">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <a class="btn btn-outline btn-primary pull-right"
                           href="{{ buildUrl('/account/set') }}?id={{ info.uid }}">
                            <i class="fa fa-pencil"></i>Edit
                        </a>
                        <h2>Account Information</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">
                    <img class="img-circle circle-border" src="{{ buildStaticUrl('/images/common/avatar.jpeg') }}"
                         width="100px" height="100px">
                </div>
                <div class="col-lg-10">
                    <p class="m-t">Name：{{ info.nickname }}</p>
                    <p>Mobile：{{ info.mobile }}</p>
                    <p>E-mail：{{ info.email }}</p>
                </div>
            </div>
            <div class="row m-t">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="javascript:void(0);" data-toggle="tab" aria-expanded="false">Access Records</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Access time</th>
                                            <th>Access Url</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if access_list %}
                                            {% for item in access_list %}
                                                <tr>
                                                    <td>{{ item.created_time }}</td>
                                                    <td>{{ item.target_url }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="2">No Data</td>
                                            </tr>
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
